<!DOCTYPE html>
<html>
<head>
    <title>Eligible Voters</title>
</head>
<body>
    <h1>Eligible Voters for Election: {{ election.name }}</h1>

    <table border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            {% for voter in eligible_voters %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ voter.phone_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'voters_list' %}">see voter list</a><br><br>
    <a href="{% url 'election_detail' election.id %}">Back to Election Details</a>
</body>
</html>
