{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Votesphere</title>
    <!--/google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,400;1,600&display=swap" rel="stylesheet">
    <!--//google-fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
</head>

<body>

    <!-- //testimonials -->
    <!--/w3l-project-->
    <section class="w3l-project-main">
        <div class="container">
            <div class="w3l-project py-md-5 py-4">
                <div class="row py-5 align-items-center">
                    <div class="col-lg-6 w3l-project-right">
                        <div class="bottom-info">
                            <div class="header-section pr-lg-5">
                                <h6 class="title-subhny mb-2">Vote in Election: {{ election.name }}</h6>
                                <h3 class="title-w3l">Choose a candidate: {{ election.name }}
                                </h3>
                                {% if message %}
                                <p style="color: red;">{{ message }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 w3l-project-left">
                        
                        {% if candidates %}
                        <form method="post" class="subscribe-wthree mt-lg-5 mt-4">
                            {% csrf_token %}
                            
                            <div class="">
                                {% for candidate in candidates %}
                                    <img class="w-25 h-10 rounded-pill" src={{candidate.profile_picture.url}} alt="">
                                {% if candidate.image %}
                                    
                                {% endif %}
                                    
                                <label for="candidate-{{ candidate.id }}">{{ candidate.name }}</label>
                                <input class="" type="radio" name="candidate_id" value="{{ candidate.id }}" id="candidate-{{ candidate.id }}">

                                {% endfor %}
                                <button class="btn btn-style btn-primary  ml-5" onclick="return confirm('Are you sure you want to vote?')" type="submit">Submit Vote</button>
                            </div>
                        </form>
                        {% endif %}

                       

                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//w3l-project-->
    <!-- footer -->
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="row footer-top-29">
                    <div class="col-lg-4 col-md-6 footer-list-29 footer-1 pe-lg-5">
                        <div class="footer-logo mb-4">
                            <h2><a class="navbar-brand" href="{% url 'index' %}">
                                    <span class="sublog">Votes</span>Phere
                                </a></h2>
                        </div>
                        <p>Empowering communities with secure, reliable, and seamless online voting solutions. Together, we’re transforming the way democracy works.

                        </p>
                        
                        <div class="main-social-footer-29 mt-5">
                            <a href="#facebook" class="facebook"><span class="fab fa-facebook-f"></span></a>
                            <a href="#twitter" class="twitter"><span class="fab fa-twitter"></span></a>
                            <a href="#instagram" class="instagram"><span class="fab fa-instagram"></span></a>
                            <a href="#linkedin" class="linkedin"><span class="fab fa-linkedin-in"></span></a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- copyright -->
        <section class="w3l-copyright text-center">
            <div class="container">
                <p class="copy-footer-29">© 2021 votesphere. All rights reserved. Design by <a href="" target="_blank">
                        Votesphere</a></p>
            </div>

            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fas fa-arrow-up"></span>
            </button>
            <script>
                // When the user scrolls down 20px from the top of the document, show the button
                window.onscroll = function() {
                    scrollFunction()
                };

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("movetop").style.display = "block";
                    } else {
                        document.getElementById("movetop").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }

            </script>
            <!-- /move top -->
        </section>
        <!-- //copyright -->
    </section>
    <!-- //footer -->
    <!-- Js scripts -->
    <!-- Template JavaScript -->
    <script src={% static "js/jquery-3.3.1.min.js"  %}></script>
    <script src={% static "js/theme-change.js"  %}></script>
     <script src={% static "js/jquery-1.9.1.min.js"  %}></script>
    <!-- faq -->
    <script>
        const items = document.querySelectorAll(".accordion button");

        function toggleAccordion() {
            const itemToggle = this.getAttribute('aria-expanded');

            for (i = 0; i < items.length; i++) {
                items[i].setAttribute('aria-expanded', 'false');
            }

            if (itemToggle == 'false') {
                this.setAttribute('aria-expanded', 'true');
            }
        }

        items.forEach(item => item.addEventListener('click', toggleAccordion));

    </script>
    <!-- //faq -->
    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!-- //bootstrap -->
    <script src={% static "js/bootstrap.min.js"  %}></script>

</body>

</html>
